@{
    ViewData["Title"] = "Music Store - Disco";
}
<body>

<header>
<h1>@ViewBag.disco.Nombre</h1> <br>
<img src = "/Imágenes/@ViewBag.disco.Foto" alt = "Foto" >
<h3> Artista: @ViewBag.disco.Artista</h3> <br>
<h3> Género: @ViewBag.disco.GeneroMusical</h3> <br>
<h3> Productor: @ViewBag.disco.Productor</h3> <br>
</header>

<main>
<h2>Listado de canciones</h2>
<section>

<div>
@for(int i = 0; i < ViewBag.disco.canciones.Count; i++)
{
<p>@ViewBag.disco.canciones[i].IDcancion - @ViewBag.disco.canciones[i].nombre</p> 
}
</div>

</section>

</main>

</body>