@{
    ViewData["Title"] = "Music Store - Disco";
}
<body>

<header>
<h1>@ViewBag.Disco.Nombre</h1> <br>
<h3> Artista: @ViewBag.Disco.Artista</h3> <br>
<h3> Género: @ViewBag.Disco.Género</h3> <br>
<h3> Productor: @ViewBag.Disco.Productor</h3> <br>
</header>
<img src = "Imágenes/" alt = "Foto Álbum" />

<main>
<h2>Listado de canciones</h2>
<section>

<ol>
<div>
@for(int i = 0; i <= canciones.Count; i++)
{
    <li>@ViewBag.Cancion.nombre</li>
}
</div>
</ol>

</section>

</main>

</body>