@{
    ViewData["Title"] = "Music Store - Disco";
}
<body>

<header>
<img src = "@ViewBag.disco.Foto" alt = "Foto" >
<h1>@ViewBag.disco.Nombre</h1> <br>
<h3> Artista: @ViewBag.disco.Artista</h3> <br>
<h3> Género: @ViewBag.disco.GeneroMusical</h3> <br>
<h3> Productor: @ViewBag.disco.Productor</h3> <br>
</header>

<main>
<h2>Listado de canciones</h2>
<section>

<div>
@foreach(var Cancion in ViewBag.disco.canciones.Values)
{
<p>Género: @Cancion.GeneroMusical</p>
<p>Productor: @Cancion.Productor</p>
}
</div>

</section>

</main>

</body>