@{
    ViewData["Title"] = "Music Store";
}

<body>
<header>
    <h1>MUSIC STORE</h1> <br>
    <img src = ""  alt= ""/>
    <h2>Bienvenidos a Music Store</h2> <br>
    <h3>Acá encontrás los mejores discos</h3> <br>
</header>
<main>
<p> Este es nuestro catálogo </p> <br>

<section>

<div>
@foreach (var disco in ViewBag.discos.Values)
{
<img src = "@disco.Foto" alt = "Foto" >
<h4>@disco.Nombre</h4>
<p>Artista: @disco.Artista</p>
<p>Género: @disco.GeneroMusical</p>
<p>Productor: @disco.Productor</p>
<p> Ver más <a href = '@Url.Action("SelectDisco", "Home", new {IDdisco = disco.IDdisco})'> Acá </a> </p>
}
</div>



</section>



</main>


<footer>Lucas, Federico y Tobías - Music Store</footer>
</body>
